<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to railslover.ap01.aws.af.cm, <%= @member.username.capitalize %></h1>
    <p>
      You have successfully signed up to railslover.ap01.aws.af.cm,
      your username is: <%= @member.email %> and password is: <%= @member.password %> .<br>
    </p>
    <p>
      To login to the site, just follow this link: http://railslover.ap01.aws.af.cm/members/sign_in.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
