
<!DOCTYPE html>
<html>
<head>
<!-- Define slider dimensions here -->
	<style>
	#slider { width: 700px; height: 390px; }
	</style>

	<%= javascript_include_tag "anythingslider" %>
<!-- AnythingSlider initialization -->
	<script>
		// DOM Ready
		$(function(){
			$('#slider').anythingSlider();
		});
	</script>
		</head>
	
	<body id="simple">

	<!-- Simple AnythingSlider -->
	<div class="hero-unit"><h3>Pizza party(28th August 2013)</h3></div>

	<ul id="slider">

		<li><img src="assets/pizza_party/WP_20130828_016.jpg" alt=""></li>

		<li><img src="assets/pizza_party/WP_20130828_017.jpg" alt=""></li>

		<li><img src="assets/pizza_party/WP_20130828_018.jpg" alt=""></li>
		<li><img src="assets/pizza_party/WP_20130828_024.jpg" alt=""></li>

		<li><img src="assets/pizza_party/WP_20130828_019.jpg" alt=""></li>

		<li><img src="assets/pizza_party/WP_20130828_020.jpg" alt=""></li>
		<li><img src="assets/pizza_party/WP_20130828_021.jpg" alt=""></li>

		<li><img src="assets/pizza_party/WP_20130828_022.jpg" alt=""></li>

		<li><img src="assets/pizza_party/WP_20130828_023.jpg" alt=""></li>


	</ul>

	<!-- END AnythingSlider -->
	<br/><br/>

</body>

</html>	
