<div class="modal-header">
  <h3>My contact details</h3>
</div>
<div class="modal-body">
  <ul class="errors"></ul>
  <div >Harikrishna Kanta</div>
  <div>Current work place: V2solutions</div>
  <div>email-id:kantaharikrishna@gmail.com</div>
</div>
<div class="modal-footer">
  <%= link_to "Got you,..Thanks", "#", class: "btn", data: { dismiss: "modal" } %>
</div>
