<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">

	<style>
	.slider { width: 700px; height: 390px; }
	</style>

	<!-- AnythingSlider initialization -->
	<script>
		// DOM Ready
		$(function(){
			$('.slider').anythingSlider();
		});
	</script>

</head>

<body id="simple">

	<!-- Simple AnythingSlider -->
	<div class="hero-unit"><h3>Pizza party(28th August 2013)</h3></div>

	<ul class="slider">

		<li><img src="assets/pizza_party/WP_20130828_016.jpg" alt=""></li>

		<li><img src="assets/pizza_party/WP_20130828_017.jpg" alt=""></li>

		<li><img src="assets/pizza_party/WP_20130828_018.jpg" alt=""></li>
		<li><img src="assets/pizza_party/WP_20130828_024.jpg" alt=""></li>

		<li><img src="assets/pizza_party/WP_20130828_019.jpg" alt=""></li>

		<li><img src="assets/pizza_party/WP_20130828_020.jpg" alt=""></li>
		<li><img src="assets/pizza_party/WP_20130828_021.jpg" alt=""></li>

		<li><img src="assets/pizza_party/WP_20130828_022.jpg" alt=""></li>

		<li><img src="assets/pizza_party/WP_20130828_023.jpg" alt=""></li>


	</ul>

	<!-- END AnythingSlider -->
	<br/><br/>
	
	<!-- Simple AnythingSlider -->
	<div class="hero-unit"><h3>Sneha's Birthday...</h3></div>

	<ul class="slider">

		<li><img src="assets/sneha_bday/WP_20130916_010.jpg" alt=""></li>

		<li><img src="assets/sneha_bday/WP_20130916_012.jpg" alt=""></li>

		<li><img src="assets/sneha_bday/WP_20130916_013.jpg" alt=""></li>
		<li><img src="assets/sneha_bday/WP_20130916_017.jpg" alt=""></li>

		<li><img src="assets/sneha_bday/WP_20130916_018.jpg" alt=""></li>

		<li><img src="assets/sneha_bday/WP_20130916_019.jpg" alt=""></li>
		<li><img src="assets/sneha_bday/WP_20130916_022.jpg" alt=""></li>
		</ul>

	<!-- END AnythingSlider -->
	<br/><br/>

</body>

</html>	

<% provide(:title, 'Social news') %>
<div class="hero-unit"><h3>Social News</h3></div>
మా భారతదేశం

<%=image_tag("flag.gif") %>
