<% provide(:title, 'Techno news') %>
<div class="hero-unit"><h3>Techno News</h3></div>
<legend>3M Flexible Transparent Touchscreen Concept</legend>
<video width="320" height="240" controls>
  <source src="<%= asset_path('3M.webm') %>" type="video/ogg">
  Your browser does not support the video tag.
</video>
